# Immich data and database paths are relative to the Arcane project directory by default.
UPLOAD_LOCATION=./library
DB_DATA_LOCATION=./postgres
IMMICH_PORT=2283

# Set a unique random alphanumeric password before deploying.
DB_PASSWORD=
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
